<div class="container">
<h1>新着情報</h1>
</div>
  <div class="contents">
      <div class="alert alert-danger" role="alert">ーWhats Newー</div>
        <ul class="row">
            <li class="col-md-3">contents1<span class="label label-danger">New</span></li>
            <li class="col-md-3">contents2<span class="label label-danger">New</span></li>
            <li class="col-md-3">contents3<span class="label label-danger">New</span></li>
            <li class="col-md-3">contents4<span class="label label-danger">New</span></li>
        </ul>
      <div class="alert alert-danger" role="alert">ーWhats Topicー</div>
       <ul class="row">
            <li class="col-md-3">contents1<span class="label label-primary">Topic</span>
            <li class="col-md-3">contents2<span class="label label-primary">Topic</span>
            <li class="col-md-3">contents3<span class="label label-primary">Topic</span>
            <li class="col-md-3">contents4<span class="label label-primary">Topic</span>
       </ul>
  </div>
</article>

</div>
