<!DOCTYPE html>
<html>
<head>
  <title>Aya Ehira</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#">News</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">＊＊＊</a></li>
        <li><a href="">＊＊＊</a></li>
        <li><a href="">＊＊＊</a></li>
      </ul>
    </div>
  </header>
  
<%= yield %>

  <footer>
    <p>江平 綾　2017年10月期</p>
    <p>＊＊＊</p>
  </footer>

</body>
</html>